/* ::first-line Selects only first line of (e.g:paragraph) */
p::first-line {
  font-weight: bold;
  color: green;
}
p::first-letter {
  font-size: 120%;
  color: Red;
}
div:hover {
  color: wheat;
  background: blue;
  letter-spacing: 4px;
}
a {
  display: block;
  background: red;
  margin: 10px;
}
a:link {
  color: white;
}
a:visited {
  color: yellow;
}

a:active {
  color: blue;
}
/* a:hover {
  text-decoration: none;
  font-size: 20px;
  background: pink;
} */
