/* 
text-shadow 
box-shadow
*/
h1 {
  text-shadow: 2px 2px 0px red;
}
.box {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: blue;
  box-shadow: 0px 4px 4px red;
  transition: all 2s ease-in-out;
}
.box:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
