/* object-fit:cover,contain,fill,none,scale-down */
img {
  width: 100%;
  display: block;
  height: 300px;
  object-fit: cover;
}

/* Use float to split it in to columns */
.one {
  float: left;
  width: 45%;
  margin-right: 5%;
}

.two {
  float: left;
  width: 45%;
  margin-right: 5%;
}
