<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.47.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./accordion.css">

    
</head>
<body>
    <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Item 1</h2>
            
            <span class="icon-container collapsible__chevron">>

          
            </span>
        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatum blanditiis animi reprehenderit voluptate placeat aspernatur aperiam harum eum illo.
        </div>

    </div>
        <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Item 1</h2>
            
            <span class="icon-container collapsible__chevron">>

          
            </span>
        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatum blanditiis animi reprehenderit voluptate placeat aspernatur aperiam harum eum illo.
        </div>

    </div>
        <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Item 1</h2>
            
            <span class="icon-container collapsible__chevron">>

          
            </span>
        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatum blanditiis animi reprehenderit voluptate placeat aspernatur aperiam harum eum illo.
        </div>

    </div>
        <script src="./accordion.js"></script>
</body>
</html>