<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CallOuts</title>
    <link rel="stylesheet" href="./callout.css">
</head>
<body>
    <!-- Two columns i.e 1 column has text and other column has CTA -->
    <div class="callout callout--primary">
        <div class="grid grid--1x2">
            <div class="callout__content">
               <h2>Ready to Get Started?</h2>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto eum exercitationem </p>
            </div>

            <a href="#" class="btn btn-secondary">Get Started</a>

        </div>


    </div>
    
</body>
</html>