<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial</title>
    <link rel="stylesheet" href="./testimonial.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="padding: 5rem;">
    <div  class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
        <img src="https://media.istockphoto.com/photos/portrait-of-a-young-man-picture-id1318928248?s=612x612" alt="happy customer">

        <!-- icons -->
        <span class="icon-container">
            <img class="icon icon-primary" src="../img/tick-svgrepo-com.svg">
            </img>
           
        </span>
    </div>
        <div style="height: 100px;background: gold;"></div>
    </div>
    </div>

</body>
</html>