/* Define color pallete */
:root{
    --color-primary:#2584ff;
    --color-secondary:#00d9ff;
    --color-accent: #ff3400;
    --color-heading:#1b0760;
    --color-body:#918ca4;
}
html{
    /* By default font size of browser is 16px, set 62.5% to make it default to 10px */
    font-size: 62.5%;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    line-height: 1.5;
    color: var(--color-body);
  
    font-size: 2.4 rem;
}
h1,h2,h3{
    color: var(--color-heading);
   /* Margin botom to add space between h1 ,h2,h3 and between h3 and paragraph */
    margin-bottom: 1rem;}

/* Use font size as rem so if usr changes default font size it changes and displays properly */
h1{
    font-size: 7rem;
}
h2{font-size: 4rem;}

h3{font-size: 3rem;
    /* To add space between paragraph and h3 element */
}
a{
     /*Remove underline fro links */
    text-decoration: none;}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
  


}
/* Implement arrow icon use pseudo elemt ::after */
.link-arrow::after{
    content: "-->";
    /* Adding in px to have same space between text and arrow irrespective of screen size */
    margin-left: 5px;
      /* transition get applied on lement and not state */
      transition: margin 0.15s;
}
/* On arrow hover .move arrow icon to right */
.link-arrow:hover::after{
    margin-left: 10px;
}
/* Impment Badge */
.badge{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: bold;
    /* disable wrapping of text in badge */
    white-space: nowrap;
}

/* Add skin to badge */
.badge--primary{
    background: var(--color-accent);
    color: #fff;
}
.badge--secondary{
    background: var(--color-secondary);
    color: #fff;
}

/* For desktop */
@media screen and (min-width:1024px) {
    
    body{
        font-size: 1.8rem;
    }
    h1{font-size: 8rem;}
    h2{font-size: 4rem;}
    h3{font-size: 2.4rem;}
}