/* ::before ::after pseudo elements create element and insert before and after content
content:'' required while selecting pseudo element
img does not work
if content:"" blank value, then width and height needs to be passed for element to appear
*/
div {
  width: 70vw;
  margin: 100px auto;
  position: relative;
}
img {
  width: 100%;
  height: 70%;
  display: block;
}

div::before {
  content: "";
  border: 2px solid red;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -40px;
  left: -40px;
  z-index: -2;
  transition: all 0.5s linear;
}

div::after {
  content: "";
  background: rgba(128, 128, 128, 0.5);

  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -20px;
  left: -20px;
  z-index: -1;
  transition: all 0.5s linear;
}

div:hover::after,
div:hover::before {
  top: 0;
  left: 0;
}
